html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
   
  background-image:
  url("https://i.postimg.cc/zfPVSCzb/w-jakiej-walucie-oszczedzac.jpg");
   background-repeat: repeat;
    background-size: cover;
    text-align: center;
  font-family: "Montserrat", sans-serif;
}

.legend {
  font-size: 50px;
  font-weight: bold;
  
}

.label {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
  
  
  
}

.button {
  font-weight: bold;
  width: 40%;
 padding: 5px;
  background-color: yellow;
  
  
}
.container {
  max-width: 700px;
  margin: 200px 500px;
  padding: 0 20px;
  border: 10px double  rgb(0, 98, 255);
  background: rgb(43, 209, 255); 
}

.cash {
  padding: 8px 6px 6px 6px;
  background-color: lightgreen;
  font-weight: bold;
  font-size: 15px;
  
}
.currency {
   padding: 8px 6px 6px 6px;
  background-color: lightgreen;
  font-weight: bold;
  font-size: 15px;
}


